.btn {
    display: inline-block;
    outline: none !important;
    padding: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }
}