.filter {
    position: fixed;
    top: 188px;
    right: 0;
    z-index: 10;
    width: 395px;
    background: #141414;
    border-radius: 4px 0px 0px 4px;
    padding: 0 55px 0 34px;
    display: none;
}

.filter .row {
    margin: 0 -8px;
}

.filter [class*="col-"] {
    padding: 0 8px;
}

.filter__header {
    padding-top: 13px;
    padding-bottom: 22px;
}

.filter__header .btn-filter {
    text-align: center;
}

.filter-group {
    margin-bottom: 22px;

    &:last-child {
        margin-bottom: 0;
    }
}

.btn-group {
    display: flex;
    align-items: center;
    margin: 0 -2px 12px;
}

.btn-filter {
    position: relative;
    flex: 1;
    background-color: #1E1E1E;
    white-space: nowrap;
    border-radius: 2px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #DEDEDE;
    text-transform: none;
    margin: 0 2px;
    padding: 0 12px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color:#354A2E;
    }
}

.btn-filter--with-icon {
    text-align: left;
}

.icon-check {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    display: none;
}

.btn-filter.selected {
    background: #3B6421;
}

.btn-filter.selected .icon-check {
    display: inline-block;
}

.btn-filter.removed {
    background: #531414;
}

.btn-filter-round {
    width: 24px;
    max-width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    padding: 0;
    position: absolute;
    top: -1px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #FCC500;
    }
}

.btn-close-filter {
    right: -15px;
}

.btn-reset-filter {
    right: 28px;
}

.btn-reset-filter:disabled {
    background: #1E1E1E;
    pointer-events: none;
}