.footer {
    margin-top: 306px;
}

.footer-lvl-1 {
    background: #FCC500;
    padding: 25px 0;
}

.footer-container {
    max-width: 1352px;
    margin: 0 auto;
    padding: 0 30px;
}

.footer-secret {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-secret__ninja {
    margin-right: 30px;
    position: relative;
}

.footer-secret__ninja img {
    position: absolute;
    right: 0;
    top: -126px;
}

.footer-secret__text {
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    color: #000;
    margin-right: 82px;
}

.footer-secret__btn {
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    color: #000;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 18px 16px;
    text-transform: uppercase;
    background: transparent;
}

.footer-lvl-2 {
    padding-top: 64px;
}

.footer__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 16px 0;
    text-align: center;
}

.footer__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-indent: 16px;
    color: #C2C2C2;
    text-align: justify;
}

.footer-col-logo {
    margin-top: 100px;
}

.footer-col-paysystem {
    margin-top: 100px;
}

.footer__links {
    margin-top: 100px;
}

.footer__links__left {
    display: flex;
    align-items: flex-start;
}

.footer__links__logo {
    margin-left: 20px;
    text-align: center;
}

.footer__links__logo .header-link--phone {
    margin: 15px 0 0;
    display: inline-flex;

    svg {
        margin-left: 0;
    }
}

.footer__social {
    display: flex;
    margin: 20px 0 0 130px;
    padding: 0;
    list-style-type: none; 
}

.footer__social li {
    margin-right: 24px;
}

.footer__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #DEDEDE;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #FCC500;
    }

    &:active {
        background-color: #E41B15; 
    }
}

.footer__social li:last-child a {
    align-items: flex-end;
}

.footer__paysystem {
    display: flex;
    align-items: center;
    margin: 23px 0 45px;
    padding: 0;
    list-style-type: none;
}

.footer__paysystem li {
    margin-right: 32px;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
}

.footer__agreement {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__agreement li {
    margin-right: 24px;
}

.footer__agreement li:nth-child(3) {
    width: 100%;
}

.footer__agreement a {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.footer__copy {
    padding: 100px 0 70px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
    position: relative;

    // &:after {
    //     content: '';
    //     width: 232px;
    //     height: 1px;
    //     background: #C4C4C4;
    //     position: absolute;
    //     left: 50%;
    //     bottom: 0;
    //     transform: translateX(-50%);
    // }
}

@media (max-width: 1439px) {

    .footer-secret__ninja img {
        right: -34px;
    }

    .footer-secret__text {
        margin-right: 50px;
    }
}

@media (max-width: 1279px) {

    .footer-lvl-1 {
        padding: 37px 0 45px;
    }

    .footer-secret {
        flex-direction: column;
        align-items: flex-start;
        max-width: 520px;
        padding-left: 210px;
        margin: 0 auto;
    }

    .footer-secret__text {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 26px;
    }

    .footer-secret__ninja img {
        right: 40px;
        top: -30px;
    }

    .footer__paysystem li {
        margin-right: 22px;
    }
}

@media (max-width: 1023px) {

    .footer-lvl-2 {
        padding-top: 59px;
    }

    .footer-container {
        max-width: 684px;
        padding: 0 20px;
    }

    .footer__text {
        margin-bottom: 48px;
    }

    .footer-col-logo {
        margin-top: 56px;
    }
    
    .footer-col-paysystem {
        margin-top: 56px;
    }

    .footer__links {
        margin-top: 56px;
    }

    .footer__links__logo {
        width: 50%;
        margin: 0;
    }

    .footer__social {
        width: 50%;
        margin: 20px 0 0;
        justify-content: center;
    }

    .footer__social li {
        margin: 0 12px;
    }

    .footer__paysystem {
        margin: 100px 0 30px;
        justify-content: center;
    }

    .footer__paysystem li {
        margin: 0 16px;
    }

    .footer__agreement {
        justify-content: center;
    }

    .footer__agreement {
        text-align: center;
        margin: 0 12px;
    }

    .footer__copy {
        padding: 54px 0 70px;
    }
}

@media (max-width: 767px) {

    .footer {
        margin-top: 128px;
    }

    .footer-container {
        padding: 0 35px;
    }

    .footer-lvl-1 {
        padding: 20px 0 25px;
    }

    .footer-secret {
        padding: 0 15px;
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .footer-secret__ninja {
        display: none;
    }

    .footer-secret__text {
        font-size: 16px;
        line-height: 20px;
        max-width: 270px;
    }

    .footer-secret__btn {
        font-size: 20px;
        line-height: 24px;
        padding: 18px 20px;
    }

    .footer-lvl-2 {
        padding-top: 125px;
    }

    .footer-col-logo {
        order: 1;
        margin-top: 0;
    }

    .footer__links__left {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 64px;
    }

    .footer__links__logo {
        width: 100%;
    }

    .footer__links__logo img {
        width: 155px;
    }

    .footer__social {
        margin-top: 50px;
    }

    .footer__social li {
        margin: 0 8px;
    }

    .footer__social a {
        width: 24px;
        height: 24px;
    }

    .footer__social a svg {
        width: 18px;
        height: auto;
    }

    .footer__social li:last-child svg {
        width: 11px;
    }

    .footer-col-text-1 {
        order: 2;
    }

    .footer-col-text-2 {
        order: 3;
    }

    .footer__title {
        // max-width: 306px;
        margin: 0 0 16px;
    }

    .footer__text {
        // max-width: 306px;
        margin: 0 0 60px;
    }

    .footer-col-paysystem {
        order: 4;
        margin-top: 60px;
    }

    .footer__paysystem {
        margin: 0 auto 26px;
    }

    .footer__paysystem li {
        margin: 0 12px;
    }

    .footer__paysystem li:nth-child(1) img {
        width: 49px;
    }

    .footer__paysystem li:nth-child(2) img {
        width: 49px;
    }

    .footer__paysystem li:nth-child(3) img {
        width: 48px;
    }

    .footer__paysystem li:nth-child(4) img {
        width: 98px;
    }

    .footer__agreement {
        margin: 0;
        justify-content: flex-start;
        text-align: left;
    }

    .footer__copy {
        padding: 83px 0 20px;
        font-size: 10px;
        line-height: 12px;
    }

    
}

@media (max-width: 479px) {
    .footer-container {
        padding: 0 20px;
    }
}

@media (max-width: 359px) {
    .footer-secret__btn {
        font-size: 18px;
    }

    .footer__paysystem li {
        margin: 0 6px;
    }
}