.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    // width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 113px;
    padding: 0 66px 0 30px;
    background: #000;
    border-bottom: 1px solid #FCC500;
}

.header-logo {
    margin-right: 69px;
    margin-top: 4px;
}

.header-logo img {
    max-width: 137px;
}

.nav-wrap {
    flex: 1;
}

.nav-container {
    flex: 1;
    height: 40px;
    perspective: 1000px;
    margin-right: 15px;
}

.nav {
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotateX(0deg);
    transform-origin: 50% 50% -20px;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

.header.scrolled .nav {
    transform: rotateX(90deg);
}

.nav-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #000;
    backface-visibility: hidden;
}

.nav-list-products {
    // transform: rotateX(90deg) translateZ(40px);
    transform: rotateX(-90deg) translateZ(40px);
    transform-origin: 0 0 0;
    // transform-origin: 0 100% 0;
}

.nav-item {
    margin: 8px 16px 8px 0;
}

.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

    &.active {
        color: #FCC500;

        &:hover {
            color: #FCC500;
        }
    }

    &:hover {
        text-decoration: none;
        color: #fff;
    }
    
}

.header-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;

    svg {
        margin: 0 6px 0 8px;
    }

    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: #fff;
        text-decoration: none;
    }
}

.header-link--phone {
    margin-left: auto;
    margin-right: 57px;
}

.header-link--time-delivery {
    margin-right: 41px;
}

.header-link__bold {
    font-weight: 600;
}

.header-cart-wrap {
    position: relative;

    &:hover {
        .header-cart {
            background-color: #E9E9E9;
            text-decoration: none;
        }
        
        .cart-text {
            color: #141414;
        }

        .cart-price {
            display: none;
        }

        .cart-checkout {
            display: inline-block;
        }

        .header-cart__count__text {
            display: none;
        }

        .icon-cart-arrow {
            display: inline-block;
        }

        .header-cart__list {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: -30px;
            z-index: -1;
            cursor: default;
        }
    }
}

.header-cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 158px;
    height: 48px;
    padding-right: 53px;
    background-color: transparent;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #E9E9E9;
        text-decoration: none;

        .cart-text {
            color: #141414;
        }

        .cart-price {
            display: none;
        }

        .cart-checkout {
            display: inline-block;
        }

        .header-cart__count__text {
            display: none;
        }

        .icon-cart-arrow {
            display: inline-block;
        }
    }

    &:active {
        background: #b1b1b1;
    }
}

.cart-empty {
    pointer-events: none;
}

.cart-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #DCDCDC;
    transition: color 0.2s ease-in-out;
}

.header-cart .icon-cart {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.icon-cart-empty {
    display: none;
}

.cart-empty .icon-cart-full {
    display: none;
}

.cart-empty .icon-cart-empty {
    display: inline-block;
}

.cart-checkout {
    display: none;
}

.header-cart__count {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #FCC500;
    color: #000;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 10px;
}

.cart-empty .header-cart__count {
    display: none;
}

.icon-cart-arrow {
    display: none;
    transform: translateY(-1px);
}

.header-cart__list {
    width: 380px;
    background: #141414;
    border: 1px solid #2C2C2C;
    border-radius: 6px 0px 6px 6px;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 24px;
    padding-left: 23px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        top: -18px;
        right: 54px;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-bottom: 17px solid #2C2C2C;
    }

    &:after {
        content: '';
        position: absolute;
        top: -16px;
        right: 55px;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid #141414;
    }
}

.header-cart__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 128px;
    border-bottom: 1px solid #2C2C2C;
}

.header-cart__item__picture {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-right: 14px;
}

.header-cart__item__detail {
    flex: 1;
    padding-right: 24px;
}

.header-cart__item__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}

.header-cart__item__type {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
    color: #C0C0C0;
}

.header-cart__item__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cart__item__control {
    display: flex;
}

.header-cart__item__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 32px;
    background-color: #181818;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #3D3D3D;
    }
}

.header-cart__item__btn-minus {
    border-radius: 6px 0 0 6px;
}

.header-cart__item__btn-plus {
    border-radius: 0px 6px 6px 0px;;
}

.header-cart__item__cnt {
    width: 42px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #181818;
    font-size: 18px;
    text-align: center;
    margin: 0 5px;
}

.header-cart__item__price {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FCC500;
}

.header-cart__item__remove {
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2C2C;
    border-radius: 6px 0px 6px 6px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #3D3D3D;
    }
}

.header-cart__footer {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    line-height: 27px;
}

.header-cart__footer__title {
    color: #fff;
    font-weight: 300;
}

.header-cart__footer__total {
    font-weight: 500;
    color: #FCC500;
}

.header-steps-container {
    flex: 1;
}

.header-steps {
    width: 715px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.header-steps .cart-step.completed {
    padding-left: 26px;

    img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &:after {
        border-color: #FCC500;
    }
}

.header-steps .cart-step.current-step {
    color: #fff;
}

.mobile-nav-header {
    display: none;
}

.mobile-nav-action {
    display: none;
}

.mobile-nav-social {
    display: none;
}

.mobile-nav-footer {
    display: none;
}

.mobile-burger-menu {
    display: none;
}

.nav-backdrop {
    display: none;
}

.mobile-header-logo {
    display: none;
}

@media (max-width: 1920px) {
    .header-link--time-delivery {
        display: none;
    }
}

@media (max-width: 1599px) {
    .header {
        padding: 0 56px 0 30px;
    }

    .header-logo {
        margin-right: 50px;
    }

    .header-link--phone {
        margin-right: 27px;
    }

    .header-link--phone .header-link__text {
        display: none;
    }
}

@media (max-width: 1439px) {
    .header {
        padding: 0 25px;
    }

    .header-logo {
        margin-right: 25px;
    }

    .header-logo img {
        max-width: 107px;
    }

    .nav-link {
        font-size: 15px;
    }
}

@media (max-width: 1279px) {

    .header {
        height: 68px;
    }

    .header-logo img {
        max-width: 86px;
    }

    .header-link--phone {
        display: none;
    }

    .header-cart {
        margin-right: 15px;
    }

    .header-cart:hover {
        background-color: transparent;
    }

    .header-cart:hover .cart-text {
        color: #dcdcdc;
    }

    .header-cart:hover .cart-checkout {
        display: none;
    }

    .header-cart:hover .cart-price {
        display: inline-block;
    }

    .header-cart-wrap:hover .header-cart {
        background-color: transparent;
    }

    .header-cart-wrap:hover .header-cart.cart-text {
        color: #dcdcdc;
    }

    .header-cart-wrap:hover .header-cart .cart-checkout {
        display: none;
    }

    .header-cart-wrap:hover .header-cart .cart-price {
        display: inline-block;
    }

    .header-cart__list {
        display: none;
    }
}

@media (max-width: 1140px) {
    .nav-wrap {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .nav-backdrop {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

    .nav-container {
        position: absolute;
        right: 0;
        top: 0;
        width: 375px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #141414;
        margin: 0;
        padding-bottom: 25px;
        perspective: none;
        transform: translateX(101%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-scroll-container {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .nav-wrap.visible {
        visibility: visible;
        pointer-events: all;
    }

    .nav-wrap.open {
        opacity: 1;
    }

    .nav-wrap.open .nav-container {
        transform: translateX(0);
    }

    .mobile-nav-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 25px 5px 25px;
        height: 68px;
        border-bottom: 1px solid transparent;
    }

    .mobile-nav-close {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-nav-close svg {
        transform: translateX(2px);
    }

    .mobile-nav-action {
        display: block;
        padding: 0 24px 0 18px;
    }

    .mobile-nav-action__title {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #DEDEDE;
    }

    .mobile-nav-phone {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-nav-phone .header-link--phone {
        display: flex;
        margin: 0;
        font-size: 28px;
        line-height: 34px;
        font-weight: 300;
        position: relative;
        padding-left: 30px;
    }

    .mobile-nav-phone .header-link--phone .header-link__bold {
        font-weight: 300;
    }

    .mobile-nav-phone .header-link--phone svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 2px 0 0 0;
    }

    .mobile-nav-call-me {
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
        color: #2D2D2D;
        padding: 3px 7px 4px;
        background: #FCC500;
        border-radius: 2px;
        text-transform: uppercase;
    }

    .mobile-nav-social {
        display: flex;
        margin: 27px 0 25px;
        padding: 0 0 0 30px;
        list-style-type: none;
    }

    .mobile-nav-social li {
        margin-right: 16px;
    }

    .mobile-nav-social a {
        width: 24px;
        height: 24px;
        background: #DEDEDE;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav-social a svg {
        width: 18px;
        height: auto;
    }

    .mobile-nav-social li:last-child a {
        align-items: flex-end;
    }

    .mobile-nav-social li:last-child svg {
        width: 11px;
    }

    .nav {
        height: auto;
        transform: rotateX(0deg);
        flex-direction: column-reverse;
        transform-style: unset;
        margin-bottom: 30px;
    }

    .header.scrolled .nav {
        transform: rotateX(0deg);
    }

    .nav-list {
        position: static;
        background: transparent;
        display: block;
        padding: 0 20px 0 44px;
    }

    .nav-list-products {
        transform: rotateX(0) translateZ(0);
        margin-bottom: 32px;
    }

    .nav-list-products .nav-item {
        margin: 0 0 6px;
    }

    .nav-list-products .nav-link {
        font-weight: 300;
        font-size: 30px;
        line-height: 37px;
        color: #fff;
    }

    .nav-list-products .nav-link.active {
        color: #DE5300;
    }

    .nav-list-main {
        margin-bottom: 0;
    }

    .nav-list-main .nav-item {
        margin: 0 0 6px;
    }

    .nav-list-main .nav-link {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #DEDEDE;
    }

    .nav-list-main .nav-link.active {
        color: #DE5300;
    }

    .mobile-nav-footer {
        display: flex;
        padding: 0 20px 0 44px;
        margin-top: auto;
    }

    .mobile-nav-footer a:nth-child(1) {
        margin-right: 38px;
    }

    .mobile-burger-menu {
        display: inline-flex;
        padding: 4px;
        margin-right: -4px;
        margin-left: 10px;
        cursor: pointer;
    }

    .header-cart-wrap {
        margin-left: auto;
    }
}

@media (max-width: 1023px) {
    
}

@media (max-width: 767px) {

    .header-cart {
        padding-right: 41px;
        margin-right: 0;
    }
    
    .header-cart .icon-cart {
        right: 2px;
    }

    .header-cart__count {
        right: 0;
    }

    .mobile-burger-menu {
        margin-left: 17px;
    }

    .mobile-nav-close {
        margin-left: 17px;
    }

    .nav-backdrop {
        display: none;
    }

    .nav-container {
        width: 100%;
        height: auto;
        transform: translateX(0);
        min-height: fit-content;
    }

    .nav-wrap {
        opacity: 1;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s linear;
    }

    .nav-wrap.visible {
        max-height: 100%;
    }

    // .nav-container {
    //     transform: translateX(0);
    // }

    .mobile-header-logo {
        display: inline-flex;
        margin-top: 4px;
        margin-right: auto;
    }
}

@media (max-width: 359px) {

    .header {
        padding: 0 15px;
    }

    .header-cart {
        width: 100px;
    }

    .mobile-nav-header {
        padding: 10px 12px 5px 15px;
    }

    .mobile-nav-phone .header-link--phone {
        font-size: 24px;
    }

    .mobile-nav-call-me {
        font-size: 12px;
    }

    .nav-list {
        padding: 0 20px;
    }

    .mobile-nav-social {
        padding: 0;
    }

    .mobile-nav-social {
        margin: 22px 0;
    }

    .nav-list-products .nav-link {
        font-size: 26px;
        line-height: 33px;
    }

    .mobile-nav-footer {
        padding: 0 20px;
    }
}