.modal-constructor {
    width: auto;
    left: 0;
    right: 0;
    padding-right: 0 !important;
}

.modal-constructor .modal-dialog {
    width: 100%;
    max-width: 100%;
}

.modal-constructor .modal-content {
    height: 586px;
    width: 100%;
    border-radius: 0;
    background-color: #141414;
    background-image: url(../img/editor-bg-desctop-left.png), url(../img/editor-bg-desctop-right.png);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 398px, 398px;
}

.modal-constructor .close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    padding: 0;
    position: absolute;
    top: -16px;
    right: 10px;
    transition: background-color .2s ease-in-out;
    z-index: 10;

    &:hover {
        background-color: #fcc500;
    }
}

.constructor {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 982px;
    margin: 0 auto;
}

.constructor__help {
    width: 224px;
    max-width: 224px;
    padding-top: 14px; 
}

.constructor__help__message {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 247px;
    padding: 16px;
    background: #1E1E1E;
    border-radius: 12px;
    text-align: center;
    color: #DEDEDE;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.constructor__help__message:before {
    content: "";
    width: 44px;
    height: 51px;
    position: absolute;
    bottom: -47px;
    right: 34px;
    transform: rotate(-90deg);
    background-image: url(../img/order-tail.svg);
    background-size: contain;
}

.constructor__help__btn {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    padding: 0;
    background: #141414;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: #8E8E8E;
    transition: color 0.2s ease-in-out;
}

.constructor__help__btn svg path {
    fill: #8E8E8E;
    transition: 0.2s ease-in-out;
}

.constructor__help__btn:hover {
    color: #DEDEDE;
}

.constructor__help__btn:hover svg path {
    fill: #DEDEDE;
}

.constructor__help__prev {
    padding-left: 4px;
    justify-content: flex-start;
    left: -16px;
}

.constructor__help__next {
    padding-right: 4px;
    justify-content: flex-end;
    right: -16px;
}

.constructor__help__img {
    padding-left: 25px;
    margin-top: -14px;
    position: relative;
    z-index: 2;
}

.constructor__help__toogle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39px;
    margin-top: -52px;
    position: relative;
    z-index: 3;
}

.constructor__help__toogle {
    width: 39px;
    height: 39px;
    padding: 0;
    background-color: transparent;
    background-image: url(../img/constructor/help-toggle-sprite.svg#help-1);

    &:hover {
        background-image: url(../img/constructor/help-toggle-sprite.svg#help-2);
    }

    &:active {
        background-image: url(../img/constructor/help-toggle-sprite.svg#help-3);
    }
}

.constructor__help__toogle.off {
    background-image: url(../img/constructor/help-toggle-sprite.svg#help-4);
}

.constructor__help__toogle__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #8E8E8E;
}

.constructor__pizza {
    position: relative;
    width: 728px;
    min-width: 728px;
    margin-left: 20px;
    padding-top: 24px;
}

.constructor__pizza__weil {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #141414;
    opacity: 0.55;
}

.constructor__pizza__img {
    width: 100%;
}

.constructor__nav {
    background: rgba(31, 31, 31, 0.8);
    height: 98px;
    display: flex;
    padding: 18px 0 16px 17px; 
    border-radius: 6px 0 0 6px;
    margin-top: 13px;
}

.constructor-nav__btn {
    width: 61px;
    height: 61px;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    margin-right: 12px;
    opacity: 0.6;
    // display: flex;
    // padding: 18px 0 16px 17px;
    
    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 1;

        .constructor-nav-text {
            color: #F9451D;
        }
    }

    &.active {
        opacity: 1;

        .constructor-nav-text {
            color: #FCC500;
        }

        .constructor-nav-count {
            background: #FCC500;
        }
    }

}

.constructor-nav__btn:last-child {
    margin-right: 0;
}

.constructor-nav-icon {
    display: block;
    width: 51px;
    height: 44px;
    background-position: left center;
    background-repeat: no-repeat;
}

.constructor-nav-text {
    display: block;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
    color: #DEDEDE;
    text-align: left;
    font-family: Commissioner, sans-serif;
}

.constructor-nav-count {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    background: #DEDEDE;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

// соус
.constructor-nav__btn--sauces .constructor-nav-icon {
    background-image: url(../img/constructor/sauces-sprite.svg#sauces-default);
}

.constructor-nav__btn--sauces:active .constructor-nav-icon {
    background-image: url(../img/constructor/sauces-sprite.svg#sauces-press);
}

.constructor-nav__btn--sauces.active .constructor-nav-icon {
    background-image: url(../img/constructor/sauces-sprite.svg#sauces-active);
}

//мясо
.constructor-nav__btn--meat .constructor-nav-icon {
    background-image: url(../img/constructor/meat-sprite.svg#meat-default);
    background-position-y: -2px;
}

.constructor-nav__btn--meat:active .constructor-nav-icon {
    background-image: url(../img/constructor/meat-sprite.svg#meat-press);
    background-position-y: -2px;
}

.constructor-nav__btn--meat.active .constructor-nav-icon {
    background-image: url(../img/constructor/meat-sprite.svg#meat-active);
    background-position-y: -2px;
}

//овощи
.constructor-nav__btn--green .constructor-nav-icon {
    background-image: url(../img/constructor/green-sprite.svg#green-default);
}

.constructor-nav__btn--green:active .constructor-nav-icon {
    background-image: url(../img/constructor/green-sprite.svg#green-press);
}

.constructor-nav__btn--green.active .constructor-nav-icon {
    background-image: url(../img/constructor/green-sprite.svg#green-active);
}

// сыр
.constructor-nav__btn--cheese .constructor-nav-icon {
    background-image: url(../img/constructor/cheese.svg);
    background-position-y: 4px;
}

.constructor-nav__btn--cheese:active .constructor-nav-text {
    color: #dedede;
}

.constructor-nav__btn--cheese.active {
    opacity: 1;
}

//доп ингр
.constructor-nav__btn--additional .constructor-nav-icon {
    background-image: url(../img/constructor/additional-sprite.svg#additional-default);
}

.constructor-nav__btn--additional:active .constructor-nav-icon {
    background-image: url(../img/constructor/additional-sprite.svg#additional-press);
}

.constructor-nav__btn--additional.active .constructor-nav-icon {
    background-image: url(../img/constructor/additional-sprite.svg#additional-active);
}

.constructor-nav__btn:disabled {
    opacity: 0.13;
    pointer-events: none;
}

.constructor__composition {
    width: 452px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 14px 16px 0;
    background: rgba(31, 31, 31, 0.8);
    height: 98px;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #DEDEDE;
    margin-right: 8px;
    border-radius: 0 6px 6px 0;
    margin-top: 13px;
}

.constructor__result {
    margin-top: 13px;
}

.constructor__result__btn {
    width: 138px;
    height: 70px;
    line-height: 70px;
    padding: 0;
    font-weight: 300;
    font-size: 26px;
    color: #fff;
    background: #1E1E1E;

    &:hover {
        background: #DE5300;
    }

    &:active {
        background: #FF5F00;
    }

    &:disabled {
        background: #1E1E1E;
        color: #7f7f7f;
        pointer-events: none;
    }
}

.constructor__weight {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #DEDEDE;
    text-align: center;
    margin-top: 7px;
}

.open-ingridients .constructor__help__message {
    height: 165px;
}

.open-ingridients .constructor__nav {
    margin-top: -55px;
    position: relative;
    z-index: 5;
}

.open-ingridients .constructor__composition {
    margin-top: -55px;
    position: relative;
    z-index: 5;
}

.open-ingridients .constructor__result {
    margin-top: -55px;
    position: relative;
    z-index: 5;
}

.constructor__ingridients {
    width: 100%;
    min-width: 100%;
    margin-top: 10px;
}

.ingridients-list {
    display: flex;
}

.sauces-group-1 {
    width: 293px;
    margin-right: 8px;
}

.sauces-group-2 {
    width: 258px;
    margin-right: 8px;
}

.sauces-group-3 {
    width: 202px;
}

.ingridient-item {
    margin: 4px 0;
}