.modal-cart .modal-dialog {
    margin-top: 144px;

    @media (min-width: 992px) {
        max-width: 982px;
        margin: 144px auto 30px;
    }
}

.modal-cart .modal-content {
    background: #141414;
    border-radius: 4px;
}

.modal-cart .modal-header {
    padding: 37px 41px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: none;
    border-radius: 0;
}

.cart-step {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 137px;
    color: #C4C4C4;
    margin-bottom: 0;

    &:before {
        content: '';
        width: 75px;
        height: 2px;
        background: #C4C4C4;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-left: 18px;
        transform: translateY(2px);
    }

    &:after {
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid #C4C4C4;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-left: 109px;
        transform: translateY(-7px);
    }
}

.cart-step-lg {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #FCC500;
}

.cart-step:nth-child(3) {
    margin-right: 0;

    &:before,
    &:after {
        content: none;
    }
}

.modal .close {
    width: 22px;
    height: 22px;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    opacity: 1;
    position: absolute;
    right: 30px;
    top: 27px;
    cursor: pointer;

    svg {
        stroke: #fff;
        transition: 0.2s ease-in-out;
    }

    &:hover {
        
        svg {
            stroke: #fcc500;
        }
    }

    &:active {
        svg {
            stroke: #de5300;
        }
    }

}

.modal-cart .modal-body {
    padding: 0;
}

.cart-container {
    background: #1D1D1D;
    padding: 0 30px 0 36px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 4px;
}

.cart-left {
    padding-right: 12px;
    flex: 1;
}

.cart-list {
    padding-top: 32px;
}

.cart-item {
    min-height: 115px;
    border-bottom: 1px solid #3D3D3D;
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
    padding-right: 17px;
    margin-bottom: 16px;

    &:last-child {
        border-bottom: none;
    }
}

.cart-item__picture {
    width: 100px;
    height: 100px;
    margin-right: 26px;
}

.cart-item__detail {
    flex: 1;
}

.cart-item__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
    text-transform: uppercase;
}

.cart-item__type {
    font-size: 14px;
    line-height: 17px;
    margin: 2px 0 3px;
    color: #C0C0C0;
}

.cart-item__text {
    font-size: 14px;
    line-height: 18px;
}

.cart-item__label {
    color: #FCC500;
}

.cart-item__control {
    margin-top: 33px;
}

.cart-item__price {
    position: relative;
    width: 129px;
    padding-right: 24px;
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    text-align: right;
}

.cart-item__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: transparent;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    svg {
        width: 16px;
        height: 16px;
        stroke: #531414;
        transition: 0.2s ease-in-out;
    }

    &:hover {
        background: transparent;

        svg {
            stroke: #fcc500;
        }
    }

    &:active {
        background: transparent;

        svg {
            stroke: #de5300;
        }
    }
}

.cart-item__control .header-cart__item__control {
    margin-top: 10px;
    justify-content: flex-end;
}

.cart-item__control .header-cart__item__btn {
    width: 32px;
    height: 24px;
}

.cart-item__control .header-cart__item__cnt {
    width: 32px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    color: #C0C0C0;
}

.cart-list__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FCC500;
    margin: 32px 0 0;
    text-transform: uppercase;

    &:after {
        content: '';
        flex: 1;
        height: 1px;
        background: #FCC500;
    }
}

.cart-list__title p {
    margin: 0 15px 0 0;
}

.cart-list__title--result {
    display: none;
}

.cart-list__sales {
    padding-top: 32px;
}

.cart-devider {
    position: absolute;
    width: 10px;
    height: 100%;
    right: 248px;
    top: 0;
    background-image: url(../img/cart-devider-bg.svg);
    background-position: center top;
    background-repeat: repeat-y;
}

.cart-right {
    width: 232px;
    min-width: 232px;
    padding-left: 32px;
}

.cart-promocode__title {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 12px 0;
}

.cart-promocode__panel {
    position: relative;
    width: 160px;
    margin: 0 auto 14px;

    svg {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        stroke: #531414;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            stroke: #fcc500;
        }
    }
}

.cart-promocode__field {
    width: 160px;
    height: 48px;
    border: 1px solid #383838;
    border-radius: 6px;
    margin: 0 auto;
    background: transparent;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    &:focus {
        background: transparent;
        border-color: #383838;
        box-shadow: none;
        color: #fff;
    }

    &::placeholder {
        color: #C0C0C0;
        letter-spacing: 5px;
    }
}

.cart-promocode__warning {
    font-size: 16px;
    line-height: 20px;
    color: #DE5300;
    margin: 12px 0 0;
}

.cart-total-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #C0C0C0;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;

    span {
        &:nth-child(1) {
            margin-right: 10px;
        }
    }
}

.cart-total-result {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 20px;

    span {
        &:nth-child(1) {
            margin-right: 10px;
        }
    }
}

.cart-btn-send {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    padding: 9px 5px 13px;
}

.cart-footer {
    position: relative;
    z-index: 5;
    min-width: 100%;
    margin: 0 -30px 0 -36px;
    padding: 0 40px 32px;
    background: #141414;
}

.cart-footer .cart-list__title {
    margin-bottom: 0;
}

.cart-footer__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #DEDEDE;
    margin: 8px 0 24px;
}

.cart-slider {
    margin: 0 -13px;
    position: relative;
}

.cart-slider .slick-slide {
    padding: 0 4px;
}

.cart-slider__item {
    position: relative;
    display: flex;
    height: 132px;
    background: #1E1E1E;
    border-radius: 6px;
    padding: 15px 15px 17px 42px;
}

.carr-slider__icon {
    position: absolute;
    left: 15px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FCC500;
}

.cart-slider__picture {
    width: 100px;
    height: 100px;
    margin-right: 18px;
}

.cart-slider__detail {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cart-slider__name {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.cart-slider__type {
    font-size: 14px;
    line-height: 17px;
    color: #C0C0C0;
    margin-bottom: 3px;
}

.cart-slider__item__btn {
    width: 80px;
    height: 36px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    background: #3D3D3D;
    margin-top: auto;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #DE5300;
    }

    &:active {
        background-color: #FF5F00;
    }
}


.cart-slider-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    z-index: 3;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-slider-prev {
    left: -18px;
    background-image: url(../img/icons/icon-prev.svg);
}

.cart-slider-next {
    right: -18px;
    background-image: url(../img/icons/icon-next.svg);
}

.cart-slider-btn.slick-disabled {
    opacity: 0.3;
    pointer-events: none;
}

@media (max-width: 1023px) {
    .modal-cart .modal-dialog {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .modal-cart .modal-header {
        position: relative;
        justify-content: center;
        padding: 28px 30px;
        border-bottom: 1px solid #FCC500;
    }

    .modal-header .cart-step {
        display: none;
    }

    .modal-header .cart-step-lg {
        display: block;
        margin: 0;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;

        &:before,
        &:after {
            content: none;
        }
    }

    .modal .close {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 23px;
        top: 50%;
        transform: translateY(-50%);
    }

    .modal .close svg {
        width: 22px;
        height: 22px;
    }

    .cart-container {
        display: flex;
        padding: 0 35px;
        background: #141414;
    }

    .cart-left {
        padding: 0;
    }

    .cart-right {
        width: 100%;
        min-width: 100%;
        padding: 0 0 24px;
        order: 3;
    }

    .cart-devider {
        display: none;
    }

    .cart-item {
        padding-right: 0;
    }

    .cart-item .header-cart__item__btn {
        background-color: #252525;
    }

    .cart-item .header-cart__item__cnt {
        background: #252525;
    }

    .cart-slider__item {
        width: 300px;
    }

    .cart-list__title--result {
        display: flex;
    }

    .cart-promocode {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cart-promocode__mobile-left {
        width: 326px;
        max-width: 326px;
    }

    .cart-promocode__mobile-right {
        width: 200px;
        max-width: 200px;
        position: relative;
    }

    .cart-promocode__warning {
        position: absolute;
        top: 100%;
        left: 0;
    }

    .cart-total-title {
        margin-top: 20px;
    }

    .cart-btn-send {
        width: 220px;
        margin-top: 50px;
    }
}

@media (max-width: 639px) {

    .modal-cart .modal-header {
        padding: 20px 30px;
    }

    .modal-header .cart-step-lg {
        font-size: 22px;
        line-height: 27px;
    }

    .cart-list {
        padding-top: 18px;
    }

    .cart-item {
        display: block;
        position: relative;
        padding-left: 113px;
    }

    .cart-item__picture {
        position: absolute;
        left: 0;
        top: 0;
    }

    .cart-item__name {
        font-size: 16px;
        line-height: 20px;
    }

    .cart-item__type {
        margin: 3px 0 4px;
    }

    .cart-item__text {
        font-size: 12px;
        line-height: 15px;
    }

    .cart-item__control {
        margin-top: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .cart-item__price {
        position: static;
        width: auto;
        margin: 0 0 0 15px;
        padding-right: 0;
        white-space: nowrap;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
    }

    .cart-item__control .header-cart__item__control {
        margin-top: 0;
    }

    .cart-item__remove {
        top: 10px;
    }

    .cart-list__title {
        font-size: 18px;
        line-height: 22px;
    }

    .cart-list__sales {
        padding-top: 15px;
    }

    .hidden-mobile {
        display: none;
    }

    .cart-footer {
        padding: 0 35px 32px;
        margin: 0 -35px;
    }

    .cart-footer__subtitle {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        margin: 8px 0 15px;
    }

    .cart-slider__item {
        width: 280px;
    }

    .cart-promocode {
        display: block;
    }

    .cart-promocode__mobile-right {
        width: 100%;
        max-width: 100%;
    }

    .cart-promocode__mobile-left {
        width: 100%;
        max-width: 100%;
    }

    .cart-promocode__panel {
        width: 100%;
    }

    .cart-promocode__title {
        margin: 20px 0 12px;
    }

    .cart-promocode__field {
        width: 100%;
    }

    .cart-promocode__warning {
        position: static;
    }
}