.modal-constructor {
    width: auto;
    left: 0;
    right: 0;
    padding-right: 0 !important;
}

.modal-constructor .modal-dialog {
    width: 100%;
    max-width: 100%;
}

.modal-constructor .modal-content {
    height: 586px;
    width: 100%;
    border-radius: 0;
    background-color: #141414;
    background-image: url(../img/editor-bg-desctop-left.png), url(../img/editor-bg-desctop-right.png);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 398px, 398px;
}

.modal-constructor .close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    padding: 0;
    position: absolute;
    top: -16px;
    right: 10px;
    transition: background-color .2s ease-in-out;
    z-index: 100;

    svg {
        stroke: none;

        path {
            fill: #2C2C2C;
        }
    }

    &:hover {
        background-color: #fcc500;
    }
}

.constructor {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 982px;
    height: 100%;
    margin: 0 auto;
}

.constructor__help {
    width: 224px;
    max-width: 224px;
    padding-top: 14px;
    position: relative;
}

.constructor__help__message {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 247px;
    padding: 16px;
    background: #1E1E1E;
    border-radius: 12px;
    text-align: center;
    color: #DEDEDE;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.constructor__help__message .new-line {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.constructor__help__message:before {
    content: "";
    width: 44px;
    height: 51px;
    position: absolute;
    bottom: -47px;
    right: 34px;
    transform: rotate(-90deg);
    background-image: url(../img/order-tail.svg);
    background-size: contain;
}

.constructor__help__message.hidden {
    opacity: 0;
    pointer-events: none;
}

.constructor__help__price {
    white-space: nowrap;
}

.constructor__help__btn {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    padding: 0;
    background: #141414;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: #8E8E8E;
    transition: color 0.2s ease-in-out;
}

.constructor__help__btn svg path {
    fill: #8E8E8E;
    transition: 0.2s ease-in-out;
}

.constructor__help__btn:hover {
    color: #DEDEDE;
}

.constructor__help__btn:hover svg path {
    fill: #DEDEDE;
}

.constructor__help__prev {
    padding-left: 4px;
    justify-content: flex-start;
    left: -16px;
}

.constructor__help__next {
    padding-right: 4px;
    justify-content: flex-end;
    right: -16px;
    font-size: 0;
}


.constructor__help__finish {
    font-size: 12px;
}

.constructor__help__finish svg {
    display: none;
}

.constructor__help__img {
    padding-left: 25px;
    margin-top: -14px;
    position: relative;
    z-index: 2;
}

.pizzulkin-off .constructor__help__img {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.pizzulkin-off .constructor__help__message {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.constructor__help__toogle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39px;
    position: absolute;
    left: 0;
    bottom: 4px;
    z-index: 3;
}

.constructor__help__toogle {
    width: 39px;
    height: 39px;
    padding: 0;
    background-color: transparent;
    background-image: url(../img/constructor/help-toggle-sprite.svg#help-1);
    pointer-events: all;

    &:hover {
        background-image: url(../img/constructor/help-toggle-sprite.svg#help-2);
    }

    &:active {
        background-image: url(../img/constructor/help-toggle-sprite.svg#help-3);
    }
}

.constructor__help__toogle.off {
    background-image: url(../img/constructor/help-toggle-sprite.svg#help-4);
}

.constructor__help__toogle__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #8E8E8E;
}

.constructor__help__toogle__text .name {
    display: none;
}

.constructor__clear-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    position: absolute;
    left: 140px;
    bottom: 4px;
    z-index: 3;
}

.constructor__clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    padding: 0;
    border-radius: 50%;
    background: #1E1E1E;
    pointer-events: all;

    &[disabled] {
        background: #1E1E1E;
    }

    &:hover {
        background: #8E8E8E;
    }

    &:active {
        background: #DE5300;
    }
}

.constructor__clear__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #8E8E8E;
}

.constructor__pizza {
    position: relative;
    width: 728px;
    min-width: 728px;
    margin-left: 20px;
    padding-top: 24px;
}

.constructor__pizza__weil {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #141414;
    opacity: 0.55;
}

.constructor__pizza__img {
    width: 100%;
}

.pizza-ingridient {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
}

.constructor-action {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.constructor__nav {
    background: rgba(31, 31, 31, 0.8);
    height: 98px;
    display: flex;
    padding: 18px 0 16px 17px; 
    border-radius: 6px 0 0 6px;
    // margin-top: 13px;
}

.constructor__nav .nav-tabs {
    border: none;
}

.constructor__nav .nav-tabs .nav-item {
    margin: 0 12px 0 0;
}

.constructor__nav .nav-tabs .nav-item:last-child {
    margin-right: 0;
}

.constructor__nav .nav-tabs .nav-link {
    border: none;
    background: transparent;
    color: inherit;
}

.constructor__nav .nav-tabs .nav-link.active {
    border: none;
    background: transparent;
    color: inherit;

    &:hover {
        border: none;
    }
}

.constructor-nav__btn {
    width: 61px;
    height: 61px;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    opacity: 0.6;
    
    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 1;

        .constructor-nav-text {
            color: #F9451D;
        }
    }

    &.active {
        opacity: 1;

        .constructor-nav-text {
            color: #FCC500;
        }

        .constructor-nav-count {
            background: #FCC500;
        }
    }
}

.constructor-nav-icon {
    display: block;
    width: 51px;
    height: 44px;
    background-position: left center;
    background-repeat: no-repeat;
}

.constructor-nav-text {
    display: block;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
    color: #DEDEDE;
    text-align: left;
    font-family: Commissioner, sans-serif;
}

.constructor-nav-count {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    background: #DEDEDE;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.constructor-nav-count img {
    margin-left: 2px;
}

// соус
.constructor-nav__btn--sauces .constructor-nav-icon {
    background-image: url(../img/constructor/sauces-sprite.svg#sauces-default);
}

.constructor-nav__btn--sauces:active .constructor-nav-icon {
    background-image: url(../img/constructor/sauces-sprite.svg#sauces-press);
}

.constructor-nav__btn--sauces.selected .constructor-nav-icon {
    background-image: url(../img/constructor/sauces-sprite.svg#sauces-active);
}

.constructor-nav__btn--sauces.active .constructor-nav-icon {
    background-image: url(../img/constructor/sauces-sprite.svg#sauces-active);
}

//мясо
.constructor-nav__btn--meat .constructor-nav-icon {
    background-image: url(../img/constructor/meat-sprite.svg#meat-default);
    background-position-y: -2px;
}

.constructor-nav__btn--meat:active .constructor-nav-icon {
    background-image: url(../img/constructor/meat-sprite.svg#meat-press);
    background-position-y: -2px;
}

.constructor-nav__btn--meat.selected .constructor-nav-icon {
    background-image: url(../img/constructor/meat-sprite.svg#meat-active);
    background-position-y: -2px;
}

.constructor-nav__btn--meat.active .constructor-nav-icon {
    background-image: url(../img/constructor/meat-sprite.svg#meat-active);
    background-position-y: -2px;
}

//овощи
.constructor-nav__btn--green .constructor-nav-icon {
    background-image: url(../img/constructor/green-sprite.svg#green-default);
}

.constructor-nav__btn--green:active .constructor-nav-icon {
    background-image: url(../img/constructor/green-sprite.svg#green-press);
}

.constructor-nav__btn--green.selected .constructor-nav-icon {
    background-image: url(../img/constructor/green-sprite.svg#green-active);
}

.constructor-nav__btn--green.active .constructor-nav-icon {
    background-image: url(../img/constructor/green-sprite.svg#green-active);
}

// сыр
.constructor-nav__btn--cheese .constructor-nav-icon {
    background-image: url(../img/constructor/cheese.svg);
    background-position-y: 4px;
}

.constructor-nav__btn--cheese:active .constructor-nav-text {
    color: #dedede;
}

.constructor-nav__btn--cheese.active {
    opacity: 1;
}

//доп ингр
.constructor-nav__btn--additional .constructor-nav-icon {
    background-image: url(../img/constructor/additional-sprite.svg#additional-default);
}

.constructor-nav__btn--additional:active .constructor-nav-icon {
    background-image: url(../img/constructor/additional-sprite.svg#additional-press);
}

.constructor-nav__btn--additional.selected .constructor-nav-icon {
    background-image: url(../img/constructor/additional-sprite.svg#additional-active);
}

.constructor-nav__btn--additional.active .constructor-nav-icon {
    background-image: url(../img/constructor/additional-sprite.svg#additional-active);
}

.constructor-nav__btn[disabled] {
    opacity: 0.13;
    pointer-events: none;
}

.constructor__composition {
    // width: 452px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 14px 16px 0;
    background: rgba(31, 31, 31, 0.8);
    height: 98px;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #DEDEDE;
    margin-right: 8px;
    border-radius: 0 6px 6px 0;
    text-align: center;
    // margin-top: 13px;
}

.constructor__composition__text {
    padding: 0 12px;
}

.constructor__composition__group.active {
    color: #FCC500;
}

.constructor-start .constructor__composition {
    font-size: 0;
}

.constructor__result {
    // margin-top: 13px;
}

.constructor__result__btn {
    width: 138px;
    height: 70px;
    line-height: 70px;
    padding: 0;
    font-weight: 300;
    font-size: 26px;
    color: #fff;
    background: #1E1E1E;

    &:hover {
        background: #DE5300;
    }

    &:active {
        background: #FF5F00;
    }

    &[disabled] {
        background: #1E1E1E;
        color: #7f7f7f;
        pointer-events: none;
        font-size: 0;
    }
}

.constructor__result__btn.start {
    background: #1c1c1c;
    pointer-events: none;
    animation: flashing 2s infinite linear;
}
  
@keyframes flashing {
    0% { background: #1c1c1c; }
    45% { background: #354A2E; }
    55% { background: #354A2E; }
    100% { background: #1c1c1c; }
}

.constructor__weight {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #DEDEDE;
    text-align: center;
    margin-top: 7px;
}

.constructor-start .constructor__weight {
    opacity: 0;
}

.tablet-open-ingridients .constructor__help__message {
    height: 165px;
}

.constructor__ingridients {
    width: 100%;
    min-width: 100%;
    margin-top: 10px;
}

.ingridients-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.constructor-ingridient {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // width: 100%;
    background-color: #1e1e1e;
    white-space: nowrap;
    border-radius: 2px;
    height: 34px;
    font-size: 16px;
    line-height: 34px;
    color: #dedede;
    text-align: left;
    text-transform: none;
    margin: 4px;
    padding: 0 12px;
    overflow: hidden;
    transition: none;
    
    &:hover {
        background-color: #333;

        .btn-ingridient__check {
            background-color: #333;
        }
    }

    &:active {
        background-color: #354A2E;

        .btn-ingridient__check {
            background-color: #354A2E;
        }
    }
}

.btn-ingridient-lg {
    width: 293px;
}

.btn-ingridient-md {
    width: 258px;
}

.btn-ingridient-sm {
    width: 202px;
}

.btn-ingridient__weight {
    width: 40px;
    text-align: center;
    margin-left: auto;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #DEDEDE;
}

.btn-ingridient__price {
    width: 54px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #DEDEDE;
    text-align: center;
    margin-right: -12px;
}

.btn-ingridient__check-container {
    position: absolute;
    width: 96px;
    height: 34px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.btn-ingridient__check {
    position: relative;
    width: 32px;
    height: 100%;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    transition: none;

    img {
        position: absolute;
        left: 12px;
        top: 13px;
    }
}

.constructor-ingridient.active {
    background-color: #3B6421;
}

.constructor-ingridient.active .btn-ingridient__check {
    visibility: visible;
    background-color: #3B6421;
    opacity: 1;
}

.constructor-ingridient.active .btn-ingridient__weight {
    display: none;
}

.constructor-ingridient.active .btn-ingridient__price {
    display: none;
}

.btn-sauces {
    justify-content: center;
}

.btn-sauces__composition {
    display: none;
}

.btn-multiple.select-1,
.btn-multiple.select-2 {
    .btn-ingridient__weight {
        display: none;
    }
    
    .btn-ingridient__price {
        display: none;
    }
}

.btn-multiple.select-1 .btn-ingridient__check,
.btn-multiple.select-2 .btn-ingridient__check {
    visibility: visible;
    opacity: 1;
    background: #3B6421;
}

.btn-multiple.select-1 .btn-ingridient__check-container .btn-ingridient__check {
    &:nth-child(1),
    &:nth-child(2) {
        background: transparent;
        opacity: 0.5;
    }
}

.btn-multiple.select-2 .btn-ingridient__check-container .btn-ingridient__check {
    &:nth-child(1) {
        background: transparent;
        opacity: 0.5;
    }
}

.btn-cheese {

}

.btn-cheese .btn-ingridient__check-container {
    position: static;
    width: 72px;
    margin-right: -12px;
}

.btn-cheese .btn-ingridient__check {
    opacity: 1;
    visibility: visible;
}

.btn-cheese .btn-ingridient__check:last-child {
    background: #3b6421;
}

.btn-cheese.active .btn-ingridient__check-container {
    position: absolute;
    width: 72px;
    margin-right: 0;
}

.constructor-start .constructor__clear-container {
    display: none;
}


@media (max-width: 1140px) {
    .constructor__nav-tabs {
        width: auto;
        flex-direction: row;
        margin-bottom: 0;
    }
}

@media (max-width: 1023px) {

    .modal-constructor .modal-dialog {
        height: 100%;
        margin: 0 auto;
    }

    .modal-constructor .modal-content {
        height: 100%;
        background-image: none;
    }

    .modal-constructor .close {
        top: 24px;
        right: 24px;
        background: #1E1E1E;

        &:active {
            background: #DE5300;
        }
    }

    .modal-constructor .close svg path {
        fill: #3D3D3D;
    }

    .constructor {
        min-height: 100%;
        padding-top: 68px;
    }

    .constructor__help {
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: 110px;
        width: 100%;
        max-width: 100%;
        z-index: 60;
        background: #141414;
    }

    .constructor__help__img {
        padding-left: 10px;
        margin-top: 0;
        margin-right: 20px;
    }

    .constructor__help__img img {
        width: 102px;
    }

    .constructor__help__message {
        order: 2;
        height: 143px;
        max-width: 400px;
    }

    .constructor__help__message:before {
        transform: rotate(0);
        bottom: 24px;
        right: auto;
        left: -43px;
    }

    .tablet-open-pizzulkin .constructor__help {
        height: 236px;
    }

    .constructor__help__btn {
        top: 100%;
        transform: translateY(-70%);
    }

    .constructor__help__toogle-container {
        bottom: -107px;
        width: 110px;
    }

    .constructor__help__toogle__text {
        margin-top: 10px;
    }

    .constructor__help__toogle__text .name {
        display: inline;
    }

    .constructor__clear-container {
        width: 110px;
        bottom: -107px;
        left: auto;
        right: 0;
    }

    .constructor__clear__text {
        margin-top: 10px;
    }

    .constructor__help.tablet-off {
        background: transparent;
        pointer-events: none;
    }

    .constructor__help.tablet-off .constructor__help__message {
        display: none;
    }

    .constructor__help.tablet-off .constructor__help__img {
        display: none;
    }

    .constructor__pizza {
        width: 100%;
        max-width: 600px;
        min-width: 0;
        max-height: 350px;
        margin: 0 auto;
        padding-top: 0;
    }

    .pizza-ingridient {
        top: 0;
    }

    .constructor-action {
        // min-height: 350px;
        height: 410px;
        padding-bottom: 94px;
        flex-wrap: wrap;
    }

    .constructor-action:after {
        content: '';
        // width: 100%;
        height: 88px;
        background: #000;
        position: absolute;
        left: -10000px;
        right: 0;
        bottom: 0;
    }

    .constructor__nav {
        flex: 1;
        height: 71px;
        padding: 5px 0 0;
        margin: 0 17px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }

    .constructor__composition {
        flex: auto;
        width: 100%;
        margin: 0;
        height: 240px;
    }

    .constructor__result {
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .constructor__result__btn {
        height: 50px;
        line-height: 50px;
    }

    .constructor__ingridients {
        margin-top: 0;
        padding-top: 8px;
        height: 339px;
        background: #141414;

    }

    .btn-ingridient-lg, 
    .btn-ingridient-md, 
    .btn-ingridient-sm {
        width: calc(50% - 8px);
    }

    .btn-sauces {
        font-size: 16px;
        line-height: 20px;
        height: 71px;
        display: block;
        text-align: center;
    }
    
    .btn-sauces__composition {
        display: block;
        font-size: 12px;
        line-height: 14px;
        white-space: normal;
        margin-top: 5px;
    }

    .btn-sauces__composition__title {
        font-weight: 500;
    }

    .constructor__composition {
        display: none;
    }

    // начало 
    .constructor-start .constructor__composition {
        display: none;
    }

    // открыт состав
    .tablet-open-composition .constructor__help__message {
        display: none;
    }

    .tablet-open-composition .constructor__help__img {
        display: none;
    }

    .tablet-open-composition .constructor__help {
        background: transparent;
    }

    .tablet-open-composition .constructor__composition {
        display: block;
        background: #141414;
        padding: 12px 35px;
    }

    .tablet-open-composition .constructor__composition__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // открыты ингридиены
    .tablet-open-ingridients .constructor__help {
        padding: 0;
        top: auto;
    }

    .tablet-open-ingridients .constructor__help__img {
        display: none;
    }

    .tablet-open-ingridients .constructor__help__message {
        display: none;
    }
}

// portrait
@media (max-width: 767px) and (max-aspect-ratio: 13/9) { 

    .modal-constructor .close {
        top: 12px;
        right: 14px;
    }

    .constructor {
        padding-top: 24px;
    }

    .constructor__help {
        padding-bottom: 20px;
        bottom: 90px;
    }

    .constructor__help__message {
        max-width: 223px;
        line-height: 20px;
        margin-right: 20px;
        height: auto;
        min-height: 143px;
        max-height: 230px;
    }

    .constructor__help__toogle-container {
        bottom: -87px;
    }

    .constructor__clear-container {
        bottom: -87px;
    }

    .constructor__pizza {
        max-width: 350px;
    }

    .constructor__nav {
        margin: 0;
    }

    .constructor__ingridients .tab-content {
        height: 240px;
        overflow-y: auto;
        padding: 0 30px;
    }

    .constructor__ingridients {
        padding-top: 12px;
    }

    .constructor-ingridient {
        margin: 0 0 8px;
    }

    .btn-ingridient-lg, .btn-ingridient-md, .btn-ingridient-sm {
        width: 100%;
    }
}

// portrait
@media (max-width: 359px) and (max-aspect-ratio: 13/9) { 
    .constructor__nav .nav-tabs .nav-item {
        margin: 0;
    }

    .constructor-nav-count {
        right: 5px;
    }
}

// landscape
@media (max-width: 1023px) and (min-aspect-ratio: 13 / 9) { 

    .modal-constructor .close {
        right: auto;
        left: 12px;
        top: 16px;
        background: rgba(30, 30, 30, 0.8);
    }

    .modal-constructor .close svg path {
        fill: #fff;
    }

    .constructor {
        padding-top: 0;
    }

    .constructor__help {
        height: auto;
        padding-bottom: 20px;
        bottom: 90px;
        top: 78px;
    }

    .tablet-open-pizzulkin .constructor__help {
        height: auto;
    }

    .constructor__help__message {
        max-width: 223px;
        line-height: 20px;
        font-size: 15px;
    }

    .constructor__help__toogle-container {
        bottom: -87px;
    }

    .constructor__clear-container {
        bottom: -87px;
    }

    .constructor__pizza {
        position: absolute;
        left: auto;
        right: 380px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 65;
    }

    .constructor__help {
        width: 382px;
        left: auto;
        right: 0;
    }

    .constructor-action {
        width: 382px;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        top: 0;
        left: auto;
        right: 0;
    }

    .constructor__nav {
        margin: 0;
        flex: 0 0 auto;
        width: 100%;
    }

    .constructor__composition {
        // display: none;
        height: 100%;
    }

    .constructor__ingridients {
        flex: 1;
        overflow-y: auto;
    }

    .ingridients-list {
        margin: 0;
        padding: 0 35px;
    }

    .constructor__ingridients {
        padding-top: 12px;
    }

    .constructor-ingridient {
        margin: 0 0 8px;
    }

    .btn-ingridient-lg, .btn-ingridient-md, .btn-ingridient-sm {
        width: 100%;
    }
}

@media (max-height: 320px) and (min-aspect-ratio: 13 / 9) {
    .constructor__help__img img {
        width: 80px;
    }

    .constructor__help__message {
        height: auto;
        font-size: 14px;
        padding: 10px;
        line-height: 16px;
    }
}
