.modal-auth .modal-dialog {
    @media (min-width: 576px) {
        max-width: 450px;
    }   
}

.modal-auth .modal-content {
    background: #1D1D1D;
    border: none;
    border-radius: 4px;
}

.modal-auth .modal-header {
    background: #141414;
    padding: 33px 41px 31px;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.modal-auth .modal-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}

.modal-title--mobile {
    display: none;
}

.modal-auth .modal-body {
    padding: 30px 60px;
}

.modal-body__content {
    height: 275px;
    overflow: hidden;
}

.auth-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 22px;
}

.auth-title--mobile {
    display: none;
}

.auth-phone {
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.auth-agreement__link {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #C0C0C0;
    text-indent: 34px;
    text-decoration: underline;
    display: inline-block;
    transform: translateY(-4px);
}

.auth-send__label {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 22px;
}

.btn-auth-send {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0 11px;
}

.btn-auth-send:disabled {
    background: #333333;
    pointer-events: none;
}

.modal-body__auth {
    height: 275px;
}

.modal-body__confirm {
    height: 275px;
}

.modal-body__container {
    transform: translateY(0);
    transition: transform 0.15s ease-in-out;
}


.modal-body.confirm .modal-body__container {
    transform: translateY(-50%);
}

.btn-auth-confirm {
    margin-bottom: 10px;
}

.confirm-control {
    margin-top: 10px;
    text-align: center;
}

.confirm-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #C0C0C0;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;

    &:visited {
        color: #C0C0C0; 
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

@media (max-width: 767px) {

    .modal-auth .modal-dialog {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
    }

    .modal-auth .modal-content {
        min-height: 100%;
    }

    .modal-auth .modal-header {
        position: relative;
        height: 68px;
        padding: 0 40px;
        border-bottom: 1px solid #FCC500;
    }

    .modal-auth .close {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 23px;
        top: 50%;
        transform: translateY(-50%);
    }

    .modal-auth .close svg {
        width: 22px;
        height: 22px;
    }

    .modal-auth .modal-body.confirm {
        background: #141414;
    }

    .modal-title--desktop {
        display: none;
    }

    .modal-title--mobile {
        display: block;
        color: #FCC500;
    }
    
    .modal-auth .modal-body {
        padding: 0;
    }

    .modal-body__content {
        height: 400px;
        padding: 0 20px;
    }

    .modal-body__auth, 
    .modal-body__confirm {
        height: 400px;
    }

    .auth-title {
        margin-top: 30px;
    }

    .auth-title--mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -20px;
        height: 83px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        background: #141414;
    }

    .modal-body__auth .auth-send__label {
        margin-top: 20px;
        text-align: left;
    }
}

@media (max-width: 359px) {

    .modal-body__content {
        padding: 0 10px;
        height: 430px;
    }

    .modal-body__auth, 
    .modal-body__confirm {
        height: 430px;
    }
    
}

