.container {
    padding: 0 16px;

    @media (min-width: 576px) {

    }

    @media (min-width: 716px) and (max-width: 767px) {
        max-width: 676px;
    }

    @media (min-width: 1700px) {
        max-width: 1690px;
    }
}

.row {
    margin: 0 -16px;
}

[class*="col-"] {
    padding: 0 16px;
}

@media (max-width: 1023px) {

    .product-list .container {
        max-width: 676px;
    }
    
    .col-table-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

