.header-order-mobile-title {
    display: none;
}

.header-order-mobile-back {
    display: none;
}

.order-container {
    @media (min-width: 1024px) {
        max-width: 1014px;
    }
}

.order-content {
    padding: 0;
}

.order {
    display: flex;
    position: relative;
    background: #141414;
    overflow: hidden;
}

.order-left {
    width: 720px;
    padding: 0 28px 24px 58px;
    min-width: 0;
}

.order-right {
    width: 263px;
    padding: 15px 29px 24px 32px;
}

.order-devider {
    position: absolute;
    width: 10px;
    height: 100%;
    right: 255px;
    top: 0;
    background-image: url(../img/cart-devider-bg.svg);
    background-position: center top;
    background-repeat: repeat-y;
    z-index: 5;
}

.order-contacts-wrap {
    position: relative;
    padding: 47px 0 80px;
}

.order-h1 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: #FCC500;
    margin-bottom: 39px;
}

.order-h2 {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #fcc500;
    margin: 0 0 24px;

    p {
        margin: 0 30px 0 0;
    }

    &:after {
        content: '';
        flex: 1;
        height: 1px;
        background: #FCC500;
    }
}

.order-form-group {
    margin-bottom: 17px;
}

.order-form-label {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 7px;
}

.order-form-row {
    display: flex;
}

.order-form-field {
    width: 380px;
    height: 50px;
    padding: 15px 10px;
    border: 1px solid #383838;
    border-radius: 0;
    background: #141414;
    font-weight: 300;
    font-size: 15px;
    color: #fff;

    &:focus {
        background: #141414;
        border-color: #383838;
        box-shadow: none;
        color: #fff;
    }

    &::placeholder {
        color: #666;
    }
}

.error-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 250px;
    height: 50px;
    margin-left: 15px;
    background: #DE5300;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.order-form-relogin {
    font-size: 15px;
    line-height: 18px;
    color: #666;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 32px;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.order-delivery-wrap {
    position: relative;
}

.tab-panel {
    height: 282px;
}

.order-option {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 380px;
    padding-right: 15px;
}

.order-option__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
}

.order-option__text.dark {
    color: #393939;
}

.order-option__subtitle {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #393939;
    margin-top: 1px;
}

.nav-tabs.order-nav {
    border-bottom: 1px solid #282828;
}

.order-nav .nav-item {
    margin: 0 0 -1px;
}

.order-nav .nav-link {
    font-size: 20px;
    line-height: 24px;
    background-color: transparent;
    margin: 0;
    text-transform: none;
    color: #666;
    font-weight: 300;
    width: 154px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        border-color: transparent;
    }
}

.nav-tabs .nav-link.active {
    background-color: #141414;
    border-color: #282828;
    border-bottom: 1px solid #141414;
    color: #fff;
    font-weight: 500;

    &:hover,
    &:focus {
        border-color: #282828;
        border-bottom: 1px solid #141414;
    }
}

.order-tab-content > .tab-pane {
    display: block;
    height: 0;
    pointer-events: none;
}

.order-tab-content > .tab-pane.active {
    height: auto;
    pointer-events: all;
}

.address-list {
    position: relative;
    padding-right: 218px;
}

.adress-length-0 {
    padding-right: 0;
}

.adress-length-1 {
    width: 66.6666%;
}

.adress-length-3 {
    padding-right: 0;
}

.address-slider {
    margin: 0 -9px;
    padding: 16px 0 18px;
}

.address-slider .slick-arrow {
    display: none !important;
}

.address-slider .slick-item {
    padding: 9px;
}

.address-item {
    position: relative;
    width: 200px;
    height: 114px;
    background: #141414;
    border: 1px solid #383838;
    border-radius: 4px;
    padding: 25px 16px 3px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.address-item__title {
    font-size: 11px;
    line-height: 13px;
    color: #49A010;
    position: absolute;
    top: 10px;
    left: 16px;
    display: none;
}

.address-item__edit {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 11px;
    right: 9px;
    cursor: pointer;

    svg path {
        fill: #c4c4c4;
        transition: 0.2s ease-in-out;
    }

    &:hover {
        svg path {
            fill: #de5300;
        }
    }

    &:active {
        svg path {
            fill: #ff5f00;
        }
        
    }
}

.address-item.active {
    box-shadow: -1px -1px 6px rgba(192, 192, 192, 0.35), 1px 1px 6px rgba(192, 192, 192, 0.35);
}

.address-item.active .address-item__title {
    display: block;
}

.address-item__name {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #666;
    margin-bottom: 4px;
    
}

.address-item__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.address-add {
    position: absolute;
    right: 0;
    top: 25px;
    width: 200px;
    height: 114px;
    border: 1px solid #383838;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 18px;
    cursor: pointer;
}

.address-add svg {
    margin-bottom: 10px;
}

.icon-add-mobile {
    display: none;
}

.address-add svg rect {
    fill: #666;
    transition: fill 0.2s ease-in-out;
}

.address-add:hover svg rect {
    fill: #de5300;
}

.address-add:active svg rect {
    fill: #ff5f00;
}

.address-add__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #C0C0C0;
}

.adress-length-0 .address-add {
    position: static;
    margin: 25px 0 27px;
}

.adress-length-3 .address-add {
    display: none;
}

.fillial-slider {
    padding: 16px 0 18px;
}

.fillial-slider .slick-item {
    padding: 9px 0;
    margin-right: 57px;
}

.fillial-slider .slick-arrow {
    display: none !important;
}

.fillial-slider .slick-item {
    padding: 9px;
}

.delivery-time__noty {
    display: inline-block;
    padding: 3px 8px 5px;
    min-width: 200px;
    background: #000;
    border-radius: 20px;
    margin-left: 11px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #C0C0C0;

    img {
        margin-right: 4px;
    }
}

.delivery-time {
    display: flex;
    padding-bottom: 50px;
    position: relative;
}

.delivery-time__left {
    flex: 1;
    padding-right: 20px;
}

.delivery-time__right {
    width: 250px;
}

.comment-title {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-top: -5px;
    margin-bottom: 7px;
}

.comment-field {
    height: 50px;
    border: 1px solid #383838;
    padding: 4px;
    background: #141414;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border-radius: 0;

    &:focus {
        background: #141414;
        border-color: #383838;
        color: #fff;
        box-shadow: none;
    }

    &::placeholder {
        color: #666;
    }
}

.pay-type {
    height: 366px;
}

.send-check {
    max-width: 380px;
}

.send-check__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.order-cart__send {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    width: 220px;
    padding: 9px 0 14px;
}

.filial-list {
    padding-top: 25px;
    display: flex;
}

.filial-col {
    padding-right: 57px;
}

.filial-time {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #666;
    margin-top: 1px;
}

.pay-systems {
    width: 245px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 6px;
    margin-bottom: -9px;
}

.pay-systems img {
    margin-left: 15px;
    
    &:nth-child(1) {
        height: 15px;
    }

    &:nth-child(2) {
        height: 14px;
    }

    &:nth-child(3) {
        height: 25px;
    }
}

.deliviery-panel-wrap {
    width: 263px;
    padding: 0 29px 0 32px;
    position: absolute;
    left: 100%;
    top: -38px;
    margin-left: 28px;
}

.deliviery-panel {
    padding-top: 30px;
    border-top: 1px solid #FCC500;
}

.deliviery-panel__title {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    margin-bottom: 7px;
}

.select2-container--default .select-delivery {
    border: 1px solid #383838;
    background: #141414;
    height: 50px;
    border-radius: 6px;
    margin: 0 0 12px;
}

.select2-container--default .select-delivery .select2-selection__rendered {
    height: 50px;
    line-height: 50px;
    padding: 0 25px 0 10px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-align: left;
}

.select2-container--default .select-delivery .select2-selection__arrow {
    top: 9px;
}

.select2-container--default .select-delivery .select2-selection__arrow b {
    border-width: 6px 6px 0;
    border-color: #666 transparent transparent;
    margin-left: -12px;
    margin-top: 2px;
}

.select2-container--default.select2-container--open .select-delivery .select2-selection__arrow b {
    border-width: 0 6px 6px;
    border-color: transparent transparent #666;
}

.select-delivery__dropdown {
    border: 1px solid #383838;
    background: #141414;
    border-radius: 0 0 6px 6px;
    text-align: left;
    margin-top: -5px;
}

.select-delivery__dropdown .select2-search--dropdown {
    display: none;
}

.select-delivery__dropdown .select2-search--dropdown .select2-search__field {
    display: none;
}

.select-delivery__dropdown .select2-results__option {
    font-size: 15px;
    font-weight: 300;
    padding: 0 10px;
    text-align: left;
    height: 30px;
    line-height: 30px;
}

.select-delivery__dropdown .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #1E1E1E;
    color: #fff;
}

.select-delivery__dropdown .select2-results__option--selected {
    background: #ff5f00;
}

.select-delivery__dropdown .select2-results__option--selected.select2-results__option--highlighted {
    background: #ff5f00;
}

.order-cart {
    display: flex;
    flex-direction: column;
    width: 263px;
    height: calc(100% + 13px);
    padding: 23px 29px 0 32px;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 28px;
}

.order-cart__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 20px;
}

.order-cart__list {
    flex: 1;
    padding-right: 10px;
    margin-right: -16px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #B3B3B3 #141414;
}

.order-cart__list::-webkit-scrollbar {
    background: #141414;
    width: 8px;
}

.order-cart__list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: #B3B3B3;
    background-clip: padding-box;
}

.order-cart__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.order-cart__item__left {
    padding-right: 10px;
}

.order-cart__item__type {
    font-size: 15px;
    line-height: 20px;
    color: #C0C0C0;
}

.order-cart__item__count {
    color: #FCC500;
    display: inline-block;
    margin-left: 10px;
}

.order-cart__item__name {
    font-size: 15px;
    line-height: 20px;
    color: #C0C0C0;
}

.order-cart__item__price {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    white-space: nowrap;
    color: #C0C0C0;
}

.order-cart__result {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 8px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #FCC500;
    margin-top: 25px;
}

.order-cart__result-price {
    font-size: 24px;
    line-height: 29px;
}

.order-discount {
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFE37E;
}

.order-discount span:nth-child(2) {
    font-size: 18px;
    line-height: 22px;
}

.order-discount-new-line {
    display: block;
}

.detail-address-wrap {
    width: 263px;
    padding: 12px 29px 0 32px;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 28px;
    background: #141414;
    z-index: 2;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.detail-address-wrap.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.detail-address {
    padding-top: 30px;
    border-top: 1px solid #FCC500;
    background: #141414;
    height: 10000px;
}

.detail-address__group {
    margin-bottom: 30px;

}

.detail-address__row {
    margin: 0 -6px;
    display: flex;
    flex-wrap: wrap;
}

.detail-address__col {
    padding: 0 6px;
}

.detail-address__label {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 7px;
}

.detail-address__field {
    margin: 6px 0;
    border-radius: 6px;
}

.detail-address__subtitle {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #666;

    span {
        color: #fff;
    }
}

.detail-address__intercom {
    margin-top: 10px;
    margin-bottom: 48px;
}

.detail-address__btn {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #666;
    background: #2B2B2B;
    text-transform: none;
    padding: 11px 10px 14px;
    margin-bottom: 16px;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: #DE5300;
    }
}

.order-exchange {
    padding-top: 30px;
    border-top: 1px solid #FCC500;
}

.order-exchange__panel {
    position: relative;
}

.order-exchange__panel input {
    padding-right: 25px;
}

.order-exchange__icon {
    position: absolute;
    top: 13px;
    right: 10px;
    font-weight: 300;
    font-size: 17px;
}

.pay-type-wrap {
    position: relative;
    
}

.pay-form-wrap {
    width: 263px;
    padding: 0 29px 0 32px;
    position: absolute;
    left: 100%;
    top: 13px;
    margin-left: 28px;
    
}

.pay-form {
    padding-top: 30px;
    border-top: 1px solid #fcc500;
}

.pay-form__icon-card {
    position: absolute;
    top: 22px;
    right: 11px;
}

.pay-form-card {
    margin-top: 12px;
}

.pay-form__security {
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #666;
    margin-top: 25px;
}

.pay-form__paykeeper {
    margin-top: 4px;
    max-width: 66px;
}

.order-cart--mobile {
    display: none;
}

@media (max-width: 1140px) {
    .nav-tabs.order-nav {
        flex-direction: row;
        margin-bottom: 0;
    }
}

@media (max-width: 1023px) {

    .header-order {
        justify-content: center;
    }

    .header-order .header-logo {
        display: none;
    }

    .header-steps-container {
        display: none;
    }

    .header-order-mobile-title {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: #FCC500;
    }

    .header-order-mobile-back {
        display: inline-block;
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
    }

    .order-content {
        background: #141414;
    }

    .order-container {
        max-width: 100%;
        padding: 0 30px;
    }

    .order-h1 {
        display: none;
    }

    .order-left {
        width: auto;
        flex: 1;
        padding-left: 0;
    }

    .order-form-row {
        position: relative;
    }

    .order-form-field {
        width: 100%;
    }

    .error-block {
        position: absolute;
        right: 1px;
        bottom: 1px;
        width: 156px;
        height: 48px;
        border-radius: 6px 0 0 6px;
    }

    .tab-panel {
        height: auto;
        width: 100%;
    }

    .address-list {
        padding-right: 0;
        width: calc(100% - 72px);
        margin-left: 36px;
    }

    .adress-length-0 {
        width: 100%;
        margin: 0;
    }

    .adress-length-1 {
        margin-left: 3px;
    }

    .address-slider .slick-arrow {
        display: inline-block !important;
        width: 9px;
        height: 16px;
        padding: 0;
        position: absolute;
        top: 50%;
        margin-top: -6px;
        font-size: 0;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .address-slider .slick-prev {
        background-image: url(../img/icons/icon-prev.svg);
        left: -26px;
    }

    .address-slider .slick-next {
        background-image: url(../img/icons/icon-next.svg);
        right: -36px;
    }

    .address-add {
        position: static;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        margin: -3px 0 30px -36px;
        border: none;
    }

    .adress-length-1 .address-add {
        margin-left: 0;
    }

    .icon-add-desctop {
        display: none;
    }

    .address-add .icon-add-mobile {
        display: inline-block;
        margin: 0 17px 0 0;
    }

    .address-add__title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color: #666;
    }

    .fillial-slider {
        padding: 16px 30px 16px;
    }

    .fillial-slider .slick-arrow {
        display: inline-block !important;
        width: 9px;
        height: 16px;
        padding: 0;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        font-size: 0;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .slick-arrow.slick-disabled {
        opacity: 0.5;
    }

    .fillial-slider .slick-prev {
        background-image: url(../img/icons/icon-prev.svg);
        left: 0px;
    }

    .fillial-slider .slick-next {
        background-image: url(../img/icons/icon-next.svg);
        right: 0px;
    }

    .fillial-slider .slick-item .radio-container:last-child {
        margin-bottom: 0;
    }

    .order-option {
        width: 310px;
        padding-right: 0;
    }

    .order-option-without-contact {
        margin-bottom: 75px;
    }

    .radio-container {
        margin-bottom: 20px;
    }

    .radio-label {
        width: 100%;
    }

    .delivery-time {
        display: block;
    }
    
    .delivery-time__noty {
        display: block;
        margin-left: -40px;
        margin-top: 10px;    
    }

    .delivery-time .comment-title {
        margin-top: 32px;
    }

    .send-check {
        margin-top: 32px;
    }

    .order-right {
        padding-right: 0;
        min-width: 263px;
    }

    .order-cart {
        padding: 23px 16px 0 32px;
    }

    .deliviery-panel-wrap {
        padding-right: 0;
    }

    .pay-form-wrap {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .order-container {
        padding: 0 35px;
    }

    .order-left {
        width: 100%;
        padding-right: 0;
    }

    .order-devider {
        display: none;
    }

    .order-right {
        display: none;
    }

    .order-nav .nav-link {
        width: 140px;
    }

    .order-option {
        width: 100%;
    }

    .order-tab-content>.tab-pane {
        overflow: hidden;
    }

    .detail-address-wrap {
        position: static;
        visibility: visible;
        max-height: 0;
        width: 100%;
        margin: -40px 0 0;
        padding: 0;
        transition: max-height 0.3s linear;
    }

    .detail-address-wrap.active {
        max-height: 1000px;
    }

    .address-list {
        width: 100%;
        padding: 0 36px;
        margin: 0;
    }

    .address-slider .slick-prev {
        left: -26px;
    }

    .address-slider .slick-next {
        right: -26px;
    }

    .fillial-slider .slick-item {
        margin-right: 10px;
    }

    .detail-address {
        height: auto;
    }

    .deliviery-panel-wrap {
        position: static;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .deliviery-panel {
        border: none;
        padding-top: 5px;
        padding-left: 12px;
    }

    .delivery-time .comment-title {
        margin-top: 20px;
    }

    .pay-type {
        height: auto;
    }

    .pay-form-wrap {
        position: static;
        width: 100%;
        margin: 0 0 20px;
        padding: 0;
    }

    .pay-form {
        border: none;
        padding-top: 0;
    }

    .pay-form__security {
        margin-top: 15px;
    }

    .order-cart__send {
        margin-top: 75px;
    }

    .order-cart {
        display: none;
    }

    .order-cart--mobile {
        display: block;
        position: static;
        width: 100%;
        height: auto;
        margin: 75px 0 0;
        padding: 0;
    }

    .order-cart__list {
        padding-right: 0;
        margin-right: 0;
        overflow-y: visible;
    }

    .order-discount-new-line {
        display: inline;
    }

    .order-cart__result {
        padding-top: 25px;
    }
}

@media (max-width: 374px) {
    .order-container {
        padding: 0 20px;
    }
}